/* RESET */
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, sans-serif;
}

/* BACKGROUND */
body{
width:100%;
height:100vh;
background:#0c1b2e;
}

/* TEXT POSISI (INI YANG BEDAIN) */
.coming{
position:absolute;
top:65%; /* bikin agak ke bawah seperti screenshot */
left:50%;
transform:translate(-50%, -50%);

color:#cfcfcf;
font-size:16px;
font-weight:500;
}